.wave {
	animation-name: wave-animation;
	animation-delay: 0.7s;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(-10deg);
	}
	20% {
		transform: rotate(12deg);
	}
	30% {
		transform: rotate(-10deg);
	}
	40% {
		transform: rotate(9deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.resume-item {
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 10px;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background: #8f96a3;
	}

	&::after {
		content: '';
		position: absolute;
		left: 4px;
		top: 28px;
		bottom: 0;
		border-left: 1px dashed #8f96a3;
	}
}
